#form-login {
  font-size: 140%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .left-content {
    background: linear-gradient(123.86deg, #c5dcfa 3.16%, #798ffe 103.44%);
    height: 100vh;
  }
}
