.b_primary {
  background-color: #5297e8;
}

.b_primary_10 {
  background-color: #EDF3FF;
}

.b_secondary {
  background-color: #6e4afd;
}

.b_code {
  background-color: #f1f1f1;
}
  
.b_success {
  background-color: #65bb68;
}