.btn-text {
  color: white;
  text-decoration: none;
}

.btn_block {
  display: inline-block;
  text-align: center;
  width: 80%;
  font-size: 0.8rem;
}

.btn-style {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
