.c_primary {
  color: #5297e8;
}

.c_primary_10 {
  color: #EDF3FF;
}

.c_success {
  color: #65bb68;
}

.c_danger {
  color: #FE8888;
}

.c_white {
    color: #ffffff;
}
  
.dark {
  color: black;
}
