.min_height_50 {
  height: 10rem;
}

.fit_content {
  width: fit-content !important;
  height: fit-content !important;
  left: auto !important;
}

.width_10 {
  width: 10rem;
}

.width_14 {
  width: 14rem;
}
