.main-title {
  font-size: 4rem !important;
}

p {
  font-size: 1.2rem !important;
}

.size_10 {
  font-size: 0.6rem !important;
}

.size_20 {
  font-size: 0.8rem !important;
}

.size_25 {
  font-size: 0.9rem !important;
}

.size_30 {
  font-size: 1rem !important;
}

.size_40 {
  font-size: 1.2rem !important;
}

.size_50 {
  font-size: 1.4rem !important;
}

.size_60 {
  font-size: 1.6rem !important;
}

.size_70 {
  font-size: 1.8rem !important;
}
