.shadow_primary {
  box-shadow: 0px 1.09009px 2.18018px rgba(31, 139, 36, 0.18),
    0px 2.18018px 4.36036px rgba(82, 151, 232, 0.5);
}

.shadow_success {
  box-shadow: 0px 1.09009px 2.18018px rgba(31, 139, 36, 0.18),
    0px 2.18018px 4.36036px rgba(82, 151, 232, 0.5);
}
  
.fit_content {
  width: fit-content;
  height: fit-content;
}

.reset {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.radius_10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
