@mixin hr($h, $color) {
  border: $h solid $color;
}

@mixin t-title($color, $fw) {
  color: $color;
  @if ($fw == "bold") {
    font-weight: bold;
  }
}

@mixin link($color) {
  ul {
    li {
      .active {
        border-bottom: 2px solid white;
      }
      a {
        color: $color;
        font-size: 1rem;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
