input:focus,
textarea:focus,
select:focus {
  outline: none;
}

*:focus {
  outline: none;
}

#basic-input {
  .form {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
  }

  .form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
  }

  .form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
  }

  .form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    font-size: 1rem;
    color: #5fa8d3;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
  }

  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

#select-input {
  .form {
    width: 100%;
    position: relative;
    height: 30px;
    overflow: hidden;
  }

  .form select {
    width: 100%;
    height: 100%;
    color: #595f6e;
    border: none;
    outline: none;
  }

  .form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
  }

  .content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .form select:focus + .label-name .content-name,
  .form select:valid + .label-name .content-name {
    font-size: 1rem;
    color: #5fa8d3;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
  }

  .form select:focus + .label-name::after,
  .form select:valid + .label-name::after {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

#textarea-input {
  .form {
    width: 100%;
    position: relative;
    padding-top: 25px;
    height: 120px;
    overflow: hidden;
  }

  .form textarea {
    width: 100%;
    height: 100%;
    color: #595f6e;
    border: none;
    outline: none;
  }

  .form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
  }

  .content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .form textarea:focus + .label-name .content-name,
  .form textarea:valid + .label-name .content-name {
    font-size: 1rem;
    color: #5fa8d3;
    transform: translateY(-600%);
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -ms-transform: translateY(-600%);
    -o-transform: translateY(-600%);
  }

  .form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .form textarea:focus + .label-name::after,
  .form textarea:valid + .label-name::after {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.error-msg {
  font-size: 0.85rem;
  color: $danger;
}

#drop-box {
  border: dashed 1px #ccc;
}
