.swal2-modal{
    padding-top: 1.5rem !important;
    padding-bottom: 2.5rem !important;
    // width: 100% !important;
}

.swal2-header{
    padding-top: 1rem !important;
}

.swal2-content{
    padding-top: .3rem !important;
}

.swal2-actions{
    padding-top: 1rem !important;
    button{
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: .8rem !important;
        width: 140px !important;
        margin: .8rem !important;
    }
}