// #home_page {
//   #side_menu {
//     width: 0%;
//   }

//   .image-logo {
//     width: 100%;
//   }

//   .icon-search {
//     font-size: 1.5rem;
//     color: white;
//   }

//   #side_menu.active {
//     width: 25%;
//     height: 100vh;
//     background-color: white;
//     border: 0.01px solid #E6F8F6;
//   }
// }

#home_page {
  .image-logo {
    width: 100%;
  }

  .icon-search {
    font-size: 1.5rem;
    color: white;
  }

  #side_menu.zoomIn {
    width: 300px;
    height: 100vh;
    // overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  #side_menu.zoomOut {
    width: 0px;
    height: 100vh;
    // overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .translateRight {
    width: 300px;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .translateLeft {
    width: 300px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
}
