#home_page{
  display: flex;
  background-color: #FFFFFF;
  
  .img-course {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu_container {
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(113, 217, 204, 0.2);
  }
  
  .main_menu {
    background-color: #5297e8;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .icon_search_wrapper {
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}